.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
.search-container {
  width: 30%;
}

.map-container {
  width: 70%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  height: 100%;
}

.menuToggle,
.title {
  display: inline;
}

.menuToggle {
  display: none;
}

@media (max-width: 768px) {
  .menuToggle {
    display: inline;
  }
  .map-container {
    width: 100%;
  }
  .search-container {
    height: 100%;
    width: 300px;
    position: fixed;
    left:-400px;
    z-index: 1;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .toggle {
    left: 0;
  }
}
