body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box !important;
}

ul {
  list-style-type: none;
  padding: 0;
}
a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

.title {
  position: relative;
  margin-right: 10px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}
.title-container {
  background-color: #696969;
  padding: 15px 0;
  text-align: center;
}
/* Search Component */
.search-container {
  width: 30%;
  position: fixed;
  left: 0;
  z-index: 1;
  background-color: #eee;
  overflow-x: hidden;
  padding: 10px;
}
.search-input {
  height: 25px;
  width: 200px;
  margin-right: 5px;
  border-radius: 2px;
  border: 0;
}
.filter-btn {
  height: 25px;
  width: 60px;
  background-color: #696969;
  border: 0;
  border-radius: 2px;
}
.cafe-link {
  padding-bottom: 8px;
}
.cafe-link a:hover {
  font-weight: 600;
}
/* Details Component*/
.back-link {
  color: #8ac6ef !important;
}
.font-awesome {
  margin-right: 5px;
}
.cafe-times {
  margin-left: 5px;
  font-size: 0.8em;
}
.cafe-description {
  font-style: italic;
}
.map-container,
.search-container {
  height: calc(100vh - 68px); /*minus the height of title container*/
}
.map-container {
  width: 70%;
  position: fixed;
  left: 30%;
}

#map {
  height: 100%;
}

.hamburger-btn,
.title {
  display: inline;
}

.hamburger-btn {
  display: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
  }
  .title-container {
    text-align: left;
    padding: 10px;
  }
  .hamburger-btn {
    display: inline;
    margin-right: 30px;
    vertical-align: top;
    font-size: 28px;
    background: none;
    color: #ff9900;
    border: 0;
    border-radius: 2px;
  }
  .map-container {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
  }
  #map {
    zoom: 0.5;
  }
  .search-container {
    width: 300px;
    position: fixed;
    left: -400px;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s;
    visibility: hidden;
  }
  .search-container,
  .map-container {
    height: calc(100vh - 56px);
  }
  .toggle {
    left: 0;
    visibility: visible;
  }
}
@media (max-width: 424px) {
  .title, .hamburger-btn {
    font-size: 24px;
  }
  .hamburger-btn {
    margin-right: 10px;
  }
}